.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(215, 214, 214);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  height: 160px;
}

.card h3, p {
  color: rgb(108, 103, 103);
  font-size: 17px;
}
